.wrapper {

    // background-color: linear-gradient(182.03deg, rgba(242, 0, 255, 0.15) -16.2%, rgba(0, 128, 255, 0) 72.4%) !important;
    // background-color: rgba(242, 0, 255, 0.15);

    background: -webkit-linear-gradient(182.03deg, rgba(242, 0, 255, 0.15) -16.2%, rgba(0, 128, 255, 0) 72.4%);

    .form-container {
        background-color: #FBFBFB;
        padding: 2rem;
        // width: 570px;
        // height: 493px;
        box-shadow: 2px 2px 4px #D8D8D8;
    }
}